<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Choose a door</h1>
    <!--<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">-->

    <!-- Insert Your Form Below -->
    <form method=POST>
      <p>lets choose a door</p>
      <input type="radio" name="question 1" value="door1">door1 
      <input type="radio" name="question 1" value="door2">door2 
      <input type="radio" name="question 1" value="door3">door3
      <input type="submit" value="spooky">
      </form>
      
  </body>
</html>
